@font-face{
    font-family: 'FjallaOne';
    src: url(../assets/Font-Familly/FjallaOne-Regular.ttf);
}
header {
    position: relative;
    width: 100vw;
    height: 60vh;
    background-color: rgb(39, 39, 39);
    margin: 0;
}

header img {
    top: 0;
    position: absolute;
    height: 98%;
    width: 100%;
    
}

header::after {
    content: ""; /* Vous devez inclure le contenu dans le pseudo-élément */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* La hauteur est ajustée pour couvrir le reste de l'header */
    background-color: rgb(39, 39, 39);
    clip-path: polygon(0% 100%, 100% 100%, 0 0);
    z-index: 2; /* Assurez-vous que le pseudo-élément se trouve en arrière-plan */
}
nav{
    z-index: 5;
    font-family: 'FjallaOne';
    position: fixed;
    top: 20px;
    left: 50%;
    translate: -50%;
    width: 50vw;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    ul{
        color: white;
        display: flex;
        justify-content: space-between;
        width: 70%;
        list-style: none;
    }
    span{
        position: absolute;
        right: 0;
        display: flex;
        background-color: orangered;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        svg{
        width: 25px;
        fill: white;
        }
    input{
        width: 80%;
        height: 0%;
        transition: 0.5s;
        background-color: orangered;
        color: white;
        border: none;
        border-radius: 30px;
        display: none;
    }
    input:focus{
        outline: none;
    }
    
    svg:hover{
        transform: scale(1.2);
    }
}

}