
<div class="Header">

    <div class="Logo"><img src="../../assets/Center_Gaming_Logo 1.png" alt="">
    </div>

    <div class="Progressivement">

    <div class="Avancerdepaiement">
        <span class="step1">
            <span class="number">1</span>
            <span class="text"> Dans le Panier</span>
            <span class="spacer"></span>
        </span>
    </div>
    <div class="paiement">
        <span class="step2">
            <span class="number">2</span>
            <span class="text"> Valider votre Panier</span>
            <span class="spacer"></span>
        </span>
    </div>
    <div class="validation">
        <span class="step3">
            <span class="number">3</span>
            <span class="text"> Recuperer vos Jeux</span>
           
        </span>
    </div>
     </div>
    <div class="paiementSecuriser">
        <p>Paiement 100% Sécuriser 🔒</p>
    </div>
</div>


<h2>Panier 🛒</h2>




    <div class="container">
    @for ( jeu of panier; track $index)
    {
         <img class="photo"  src="{{jeu.image}}">

    <div class=" information-container">
    <div class="nom">
        <img class="imgplat" src="{{jeu.plateformelogo}}" alt="">
        <p>{{jeu.nom}}</p>

    </div>
    <div class="Plateform">
        <p>{{jeu.plateforme}}</p>
    </div>
    <div class="Poubelle">
        <p>Supprime ici </p>
        <span>🗑️</span>
    </div>
</div>

<div class="prix-container">
<div class="prix">
    <p>{{jeu.prix}}</p>
    <select name="jeux" id="" required>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
    </div>
    </div>
 }
</div>

