@font-face {
    font-family:  'FjallaOne';
    src: url(../../assets/Font-Familly/FjallaOne-Regular.ttf);
}



.Header
{
   display: flex;
   justify-content:space-between;
   align-items: center;
   width: 100%;
   height: 80px;
   background-color: black;
   

   & p , & span {
    /* margin: 0; */
        color: white;
        font-family: 'FjallaOne';  ;}

   .logo
   {
    
    position: absolute;
    top: 3%;
    
   }

   .Progressivement
   {
        display: flex;
        position: relative; 
    }
    .step1 
    {
        .number
        {
            color: red;
        }
        display: flex;
        align-items: center;
    }

    .step2
    {
        display: flex;
       align-items: center;
    }

    .step3
    {
        display: flex;
        align-items: center;
    }
   .number
   {
    align-items: center;
    border-radius: 100px;
    box-shadow: 0 0 0 3px ;
    display: flex;
    font-size: 15px;
    height: 26px;
    justify-content: center;
    margin-right: 15px;
    position: relative;
    width: 26px;
}

.spacer
{
    background-color: white;
    height: 3px;
    margin-left: 15px;
    width: 120px;
    align-items: center;
}

   }


   h2
   {
       position: relative;
       margin-left:  4rem;
       top: 4rem;
       color: white;
       font-family: 'FjallaOne';
       
   }




   .container {
   

    /* width:fit-content; */
    background-color: rgba(128, 128, 128, 0.322);
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 100%;
    margin-top: 8rem;
    margin-left: 10rem;
    margin-right: 50rem;
    border-radius: 1rem;
    padding: 20px;;

    .photo {
       
        position:relative;
        width:190px;
        height: 100%;
        
    }
   
         & p  {
        color: white;
        font-size: 13px;
        font-family: 'FjallaOne';
        margin: 12px 2px;
    }

    .nom
    {display: flex;
        margin: 0;
        }

    .Poubelle{display: flex;
        position: relative;
        margin-left: 10px;
    
    & span {
        position: relative;
        top: 8px;
        left: 10px;
    }}

    .information-container
    {
        
        position: relative;


        .imgplat
        {
           position: relative;
           top: 7px;
           width: 25px;
           height: 25px;
           border-radius: 18px;
           margin-left: 5px;
           margin-right: 5px;
        }
    }

    .Plateform 
    {   position: relative;
        & p {
        margin-left: 10px;}
    }
    .prix-container
    {
        margin-left: auto;
        




        .prix {
        display: flex;
        align-items: center;
         gap: 15px;   
            
            
        }

        .Quantité 
        {
            
            height: 20px;
            width: 20px;
        }
    }
   }
   .textePanier {
    font-family: 'FjallaOne';
    color: orangered;
    margin:  5rem;
    top: 6rem;
    font-size: 4rem;
   }

