.inscription{
    width: 50vw;
    height: min-content;
    position: relative;
    left:50%;
    translate: -50% 0;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'FjallaOne';
    background-color: rgba(128, 128, 128, 0.322);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10vh;
    padding: 1.5rem;
    justify-content: space-between;
    h2{
        font-size: 3rem;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 60%;
        label{
            font-size: 1.5rem;
        }
        input{
            width: 50%;
            background-color: rgb(43, 41, 41);
            border: 1px solid rgb(90, 78, 78);
            border-radius: 10px;
            height: 50px;
            padding: 5px;
            font-size: 1.5rem;
            color: gray;
            margin: 20px;
        }
        input:hover{
            border:3px solid orangered;
        }
        input:focus{
            border: 3px solid orangered;
            outline: none;
            
        }
        
        button{
            width: 50%;
            height: 50px;
            border-radius: 10px;
            background-color: orangered;
            color: white;
            font-family: 'FjallaOne';
            font-size: 1.5rem;
            border: none;
            margin-top: 20px;
        }
    }
   
}