@font-face{
    font-family: 'FjallaOne';
    src: url(../../assets/Font-Familly/FjallaOne-Regular.ttf);
}
.buy{
    font-family: 'FjallaOne';
    width: 100vw;
    height: min-content;
    display: flex;
    justify-content: space-around;
    translate: 0 -50%;
    z-index: 4;
    position: relative;
    img{
        width: 50%;
        border-radius: 20px;
    }
    .purchase{
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        width: 30%;
        height: min-content;
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.164);
        padding: 5%;
        h3{
            font-size: 2rem;
        }
        .prix{
            color: orangered;
            font-size: 2rem;
            align-self: flex-end;
        }
        .stocke{
            display: flex;
            justify-content: space-around;
            font-family: 'FjallaOne';
            color: white;
            background-color: rgba(31, 29, 29, 0.514);
            border-radius: 50px;
            span{color:green;margin: 10px;}
        }
        .btn{
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 20%;
            button{
                height: 60px;
                background: linear-gradient(to right,orange,orangered);
                color: white;
                font-family: 'FjallaOne';
                font-size: 1.5rem;
                border-radius: 5px;
                border: none;
            }
            .btn1{
                width: 50px;
            }
            .btn2{
                width: 300px;
            }
        }
    }
}
.desciption{
    width: 90%;
    margin-left: 5%;
    font-family: 'FjallaOne';
    color: white;
    h2{
        font-size: 3rem;
    }
    p{
        font-size: 1.5rem;
        line-height: 2;
    }
}
.visuel{
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    height: min-content;
    h2{
        font-family: 'FjallaOne';
        color: white;
        font-size: 3rem;
    }
    video{
        width: 100%;
        border-radius: 10px;
    }
    .image{
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        margin-bottom: 5%;
        img{
            width: 30%;
            border-radius: 10px;

        }
    }
}