
<h2>Categories</h2>

<div class="container">
    <ul>
        <li class="action"(click)="Action()"><span>ACTION</span></li>
        <li class="arcade" (click)="arcade()"><span>ARCADE</span></li>
        <li class="aventure" (click)="aventure()"><span>AVENTURE</span></li>
        <li class="fps" (click)="fps()"><span>FPS</span></li>
        <li class="solo" (click)="solo()"><span>SOLO</span></li>
        <li class="rpg" (click)="rpg()"><span>RPG</span></li>
        <li class="free" (click)="free()"><span>FREE TO PLAY</span></li>
        <li class="sport" (click)="sport()"><span>SPORT</span></li>
        <li class="strategy" (click)="strat()"><span>STRATEGY</span></li>
    </ul>
</div>