
<h2>Categories</h2>
<!-- <button>Tout Voir</button> -->
<div class="container">
    <ul>
        <li class="action"(click)="goToAction()"><span>ACTION</span></li>
        <li class="arcade"><span>ARCADE</span></li>
        <li class="aventure"><span>AVENTURE</span></li>
        <li class="fps"><span>FPS</span></li>
        <li class="solo"><span>SOLO</span></li>
        <li class="rpg"><span>RPG</span></li>
        <li class="free"><span>FREE TO PLAY</span></li>
        <li class="sport"><span>SPORT</span></li>
        <li class="strategy"><span>STRATEGY</span></li>
    </ul>
</div>