*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer
{
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 100px;
  width: 100vw;
}
.lien
{
  height: 30vh;
}
.footer-container
{
  display: flex;
  align-self: center;
  background-color: rgb(44, 54, 46);
  flex-direction: column;
  text-align: center;
  margin-bottom: 0 !important;

}
/* liste de des conditins */
a
{
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
li
{
  margin-bottom: 20px;
}
.list
{
  position: relative;
  top: 3vh;
  left: 5vw;
  list-style:  none;
}
a:hover
{
  color: aqua;
}
.footer-container .contenue .lien
{
  border-bottom:1px solid whitesmoke ;
  display: flex;
  justify-content: space-between;
}
/* Les icons de réseaux sociales */
.icon:hover
{
  animation: bounce 0.7s ease infinite alternate
}
@keyframes bounce {
  from {top: 0;}

  to{top:10px;}

}
.apps
{
  display: flex;
  align-items: center;
  margin-right: 10vw;
  gap: 5vw;
}
.icon
{
  height: 4vh;
  width: 2vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 20px;
  position: relative;
}
.icon img
{
  width: 20px;
}
.facebook
{
  background-color: blue;
  opacity:  0.7;
}
.discord
{
  background-color: palevioletred;
  opacity:  0.7;
}
.twitter
{
background-color: steelblue;
opacity:  0.7;
}
.instagram
{
  background-color: pink;
  opacity:  0.7;
}
.youtube
{
  background-color: red;
  opacity:  0.7;
}
.twitch
{
  background-color: purple;
}
.media
{
  display: flex;
  margin-left: 2Ovw;
}
.tripo
{
  color: aliceblue;
}

/* Copyright */

.lebas
{
  width: 80%;
  margin: auto;
}
.information
{
  width: 100%;
  justify-content: space-between;
}
.information, .geo-selected, .copyright
{
  display: flex;
}
.geo-selected
{
position: relative;
align-items: center;
padding: 10px 20px;
gap: 10px;
}
.geo-selected:hover
{
  color: aqua;
}
.copyright, .localisation, .country, .currency
{
  color: white;
  font-size: 1.2rem;
}
.icon-language svg
{
  position: relative;
  width: 30px;
  fill: white;
  height: 100%;
}
.icon-currencies svg
{
  width: 30px;
  fill:white;
  height: 2vh;
}
.icon-location svg
{

  width: 2vw;
  fill:white;
  height: 2vh;

}
.copyright
{
  align-items: center;
  white-space:  nowrap;
}

.test
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.apple
{
  border: 1px solid gray;
  border-radius: 10px;
  background-color: black;
  padding: 10px;
}
.android
{
  border: 1px solid gray;
  border-radius: 10px;
  background-color: black;
  padding: 10px;
}
.apple img
{
  width: 10vw;
}
.android img
{
  width: 10vw;
}
@media screen and (max-width: 1000px){
.lien
{
  flex-direction: column;
  align-items: center;
  height: auto;
}
.list
{
  top: 0;
  left: 0;
}
.apps
{
  margin-right: 0;
  justify-content: center;
  margin-bottom: 2vh;
}
.media
{
  margin-bottom: 2vh;
}
.tripo
{
  margin-bottom: 2vh;
}

}




@media screen and (max-width: 1000px){
.copyright
{
  display: none;
}
  .currency
  {
    white-space: nowrap;
  }
  .information
  {
    text-align: center;
    justify-content: center;
  }
  .apple img
  {
    width: 10vw;
  }
  .android img
  {
    width: 10vw;
  }
}
/* overlay */
.overlay
{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 68, 0, 0.734);
  z-index: 10;
  display: none;
  height: 60vh;
  width: 50vw;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 10px;
}
.réglages-title, .choix
{
  display: flex;
  margin: 2vh;
}
.réglages-title
{
  font-size: 1.5em;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
select
{
  padding: 1vh;
}
.region
{
  background-color: black;
  display: flex;
  justify-content: center;
}
.text
{
  color: white;
  font-size: 1.2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.limiter
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choix
{
align-items: center;
}
.separation
{
  height: 60px;
}
.réglages-subtitle
{
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  flex-direction: column;
  margin-left: 2vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.languages
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vh;
  margin-left: 5vw;
}
.flag
{
  margin-right: 15px;
}
.flag
{
  background-size: 100%;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
.flagfr
{
  background-image: url(/assets/images/fr.svg);
}
.flagesp
{
background-image: url(/assets/images/es.svg);
}
.flagan
{
  background-image: url(/assets/images/an.svg);
}
.languages a, .currencies
{
  margin: 10px;
  border-radius: 7px;
  display: flex;
  padding: 15px;
  align-items: center;
  transition: 0.2s;
  width: calc(33.33333% - 30px);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

}
.currencies
{
  width: 100%;
  justify-content: space-around;
}
.button-close
{
  background-color: rgba(255, 68, 0, 0);
  height: 3vh;
  width: 3vw;
  border: none;
  position: relative;
  left: 47vw;
  border-radius: 10px;
}
.button-close svg
{
  width: 100%;
  height: 100%;
}
