
  <main>
    <div class="carteJeux">
    @for (jeu of liste_jeux; track $index) 
    {
        <div class="jeux">
            <img class="phot" src="{{jeu.image[0]}}" alt="" (mouseenter)="mouseenter(image, prix, video)" (mouseleave)="mouseleave(image, prix, video)" #image>
            <video class="vid" src="/assets/video1.webm" #video
            loop muted></video>
            <div class="Nom" #nom>
                <p>{{jeu.titre}}</p></div>
                <div class="Prix" #prix>
                <p >{{jeu.prix}}</p>
                </div>
                </div>
     }  
      </div>

     <div class="Transition">
      <div class="Logo"></div>
      <p> Le meilleure site GAMING du moment 🌍 un multivers  pour vous divertir 👌 100 % fiable avec une vitesse de téléchargement optimal 🚀  </p>
     </div>

     <div class="TitrePromotion"> <p> LES PROMOTIONS GEEKTOP🔥🔥🔥</p></div>

     <div class="Promotion">
      @for ( jeu of liste_Promo; track $index)
      {
        <div class="jeux">
      <img class="phot" src="{{jeu.image[0]}}" alt="" (mouseenter)="mouseenter(image, promo , video)" (mouseleave)="mouseleave(image, promo, video)" #image>
      <video class="vid" src="../../assets/video1.webm" #video loop muted></video>
      <div class="Nom" #nom>
        <p>{{jeu.titre}}</p></div>
        <div class="Promo" #promo>
        <!-- <p >{{jeu.romo}}</p> -->
        </div>
        </div>
}

     </div>


     
     
 
 
 


  </main>



