
  <main>
    <div class="carteJeux">
    @for (jeu of liste_jeux; track $index) 
    {
        <div class="jeux">
            <img class="phot" src="{{jeu.image[0]}}" alt="" (mouseenter)="mouseenter(image, video, prix)" (mouseleave)="mouseleave(image, video, prix)" #image>
            <video class="vid" src="/assets/video1.webm" #video
            loop muted></video>
            <div class="Nom" #nom>
                <p>{{jeu.titre}}</p></div>
                <div class="Prix" #prix>
                <p >{{jeu.prix}}</p>
                </div>
                </div>
     }  
      </div>

     <div class="Transition">
      <p>Ultra Rapide <br> Vitesse de la lumiere</p>
      <p>100% sécuriser <br> Fiable et sûr </p>
      <p>Service Client <br> Conseillé Disponible h24/7</p>
     </div>

  </main>



