
    .jeux {
        position: relative;
        overflow: hidden; 

      }


.phot
{
    
    width:25rem;
    aspect-ratio: 16/9;
    top: 0;
    left: 0;
}

.vid
{
    position:absolute;
    top: 0;
    left: 0;
    width: 25rem;
    aspect-ratio: 16/9;
    z-index: -1;
}

.carteJeux 

{
    align-self: center;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    z-index: 1;
    


}